

<mat-card class="cardWithShadow">
  <mat-card-header>
    <div class="d-flex align-items-center justify-content-between w-100">
      <mat-card-title>Mapa de Parqueaderos</mat-card-title>
      <button mat-icon-button color="inherit">
        <mat-icon class="f-s-24 d-flex align-items-center justify-content-center">
          more_vert
        </mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="p-t-30">
<div style="height: 500px; z-index: 2;" leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>
  </mat-card-content>
</mat-card>